<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>about</title>
    <link rel="stylesheet" href="home.css">
</head>

<body class="about_b">

    {{>header}}
    
        
        <div class="slogan"><img src="MlTFqN.jpg" ><b>Save earth today to survive tomorrow.</b></div>
    
    {{>footer}}

</body>
</html>