<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    
   {{>header}}
   <div class="Weather_content">
    <form>
        <input class="input_text" type="text" placeholder="Enter your city name" >
        <button id="clicked_2">SEARCH</button>
        <br>
        {{!-- <textarea class="result_box" resize="none" col="30" row="30"></textarea> --}}
        <div class="result_box">
           <div class="day">{day}</div>
             <div class="date_mon">{date}{mon}</div>
           <div class="output">Output</div>
            
        </div>
    </form>
   </div>
    {{>footer}}
    
</body>
</html>